<title> Header Parser</title>
<link rel="stylesheet" href="./views/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<body>
<div class="container">
            <h1 class="header">
                Header Parser
            </h1>
            <blockquote>
                User stories:
                <ul>I can get the IP address, language and operating system for my browser.</ul>
                
            </blockquote>
            <h3>Example usage:</h3>
            <code>https://thissite.com/api/whoami</code><br>
            <h3>Example output:</h3>
            <code>
                {
                "ipaddress":"162.233.117.2",
                "language":"en-US",
                "software":"Windows NT 10.0; Win64; x64"
                }
            </code>
        </div>

</div>
</div>
</body>